body {
    background-color: black;
    overflow: auto;
    display: block;
    
}


.topSection {
    display: block;
}

header {
    padding: 0px;
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    justify-content: center;
    border: 10px solid red;
    border-radius: 20px;
    background-color: red;
    color: white;
    margin-bottom: 20px
   
}



nav {
    width: 100%;
}

nav li {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-left: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color:forestgreen;
    
}

.navBar {
    display: inline-block;
    width: 32.5%;
    text-align: center;
}

#lastBar {
    display: inline-block;
    width: 32.5%;
    margin-right: 0px;
    text-align: center;
}

nav a {
    font-size: 35px;
    text-decoration: none;
    color: white;
    width: 100%;
    
}

@media only screen and (max-width: 1073px)  {
    #lastBar {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navBar {
        display: inline-block;
        width: 32.8%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
}

.bigWords {
    font-size: 35px;
    font-weight: bold;
}

.standInPic {
        border-radius: 20px;
        width: 480px;
        height: 480px;
        display: inline-block;
        position: relative;
        left: 110px;
        margin-top: 30px;
        border: 3px solid red;
}

.pageDescription {
        border-radius: 20px;
        font-size: 22px; 
        text-align: center;
        border: 3px solid red;
        display: inline-block;
        position: absolute;
        right: 0px;
        width: 480px;
        height: 440.067px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
        margin-right: 110px;
        color: white;
        background-color: seagreen;
        
        
}

@media only screen and (max-width: 1220px)  {
    .standInPic {
        border-radius: 20px;
        border: 3px solid red;
        left: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        
    }
    
    .pageDescription {
        border-radius: 20px;
        position: relative;
        font-size: 22px; 
        text-align: center;
        border: 3px solid red;
        display: block;
        width: 480px;
        height: 440.067px;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: seagreen;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

}


#sideOne {
    border-radius: 20px;
    width: 480px;
    height: 500px;
    position: relative;
    display: block;
    left: 110px;
    margin-top: 30px;
    margin-right: 30px;
    border: 3px solid red;
    background-color: #FFF8E7;
    
}

.title {
    display: block;
    text-align: center;
    border: 3px solid red;
    background-color: forestgreen;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.filler {
    display: block;
    width: 225px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    font-size: 25px;
    text-align: center;
    border: 3px solid red;
    background-color: forestgreen;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#sideTwo {
    border-radius: 20px;
    font-size: 22px; 
        text-align: center;
        border: 3px solid red;
        display: inline-block;
        position: absolute;
        right: 0px;
        width: 480px;
        height: 492.067px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin-top: -507px;
        margin-bottom: 0px;
        margin-right: 110px;
        color: white;
        background-color: dodgerblue;
    
    
    
    /*
    position: relative;
        font-size: 22px; 
        text-align: center;
        border: 3px solid red;
        display: block;
        width: 480px;
        height: 320.067px;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: dodgerblue;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    */
}







@media only screen and (max-width: 1220px) {
    #sideOne {
        border: 3px solid red;
        left: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    
    #sideTwo {
        text-align: center;
        position: relative;
        font-size: 22px; 
        border: 3px solid red;
        display: block;
        width: 480px;
        height: 492.067px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}






.Back {
    width: 450px;
    padding-right: 20px;
}




.Note {
    float: left;
    display:inline-block;
    padding-right: 0px;
    margin-right: 0px;
    color: white;
    background-color: forestgreen;
    border: 3px solid red;
    
}

.GO {
    color: white;
    background-color: forestgreen;
    display:inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 3px solid red;
    
}

footer {
    position: absolute;
    color: white;
    margin-top: 30px;
    margin-bottom: 140px;
    
}